$text-color: #2a2a2a;
$footer-color: #d3d3d3;

// As hex codes */

$color-primary-0: #582a72; // Main Primary color */
$color-primary-1: #9775aa;
$color-primary-2: #764b8e;
$color-primary-3: #3d1255;
$color-primary-4: #260339;

$header_hight: 7rem;

$triangle-vert: 150px;
$triangle-horz: 3000px;
