$text-color: #2a2a2a;
$footer-color: #d3d3d3;

// As hex codes */

$color-primary-0: #582a72; // Main Primary color */
$color-primary-1: #9775aa;
$color-primary-2: #764b8e;
$color-primary-3: #3d1255;
$color-primary-4: #260339;

$header_hight: 7rem;

$triangle-vert: 150px;
$triangle-horz: 3000px;

$font-headding: "Fontdiner Swanky", cursive;
$font-body: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: "Courier New", Courier, monospace, "Lucida Console", Monaco;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

$nav-swap: $screen-md;
$mobile_width: clamp(275px, 40vw, 350px);
