@import "_variables.scss";
@import "_mixins.scss";
@import "_external.scss";

@import "_imports.scss";

::selection {
  background: var(---color-primary-0);
  color: #fff;
}
a::selection {
  background: var(---color-primary-1);
}

$container-gap: 20px;

:root {
  --max-width: 100%;
  --container-padding: 0px;
  --background: white;
  --background-alt: #{lighten($color-primary-2, 35%)};
  --text-colour: #2a2a2a;
  ---color-primary-0: #{$color-primary-0};
  ---color-primary-1: #{$color-primary-1};
  ---color-primary-2: #{$color-primary-2};
  ---color-primary-3: #{$color-primary-3};
  ---color-primary-4: #{$color-primary-4};
  --header-heigh: 6rem;
  --logo-extra: 2vw;
  --size-text: "no-size";
  --footer-colour: #d3d3d3;

  $base: lighten($color-primary-0, 90%);
  @for $i from 1 through 10 {
    --nav-bg-#{$i}: #{darken($base, $i * 7.5)};
  }
}

//@media (prefers-color-scheme: dark) {
@media screen and (min-width: 200px) {
  :root {
    --background: #{$color-primary-4};
    --background-alt: #{darken($color-primary-2, 35%)};
    --text-colour: #cdc9c3;
    ---color-primary-0: #{$color-primary-1};
    ---color-primary-1: #{$color-primary-2};
    ---color-primary-2: #{$color-primary-2};
    ---color-primary-3: #{$color-primary-3};
    ---color-primary-4: #{$color-primary-4};
    --footer-colour: #2d2d2d;

    $base: #181a1b;
    @for $i from 1 through 10 {
      --nav-bg-#{$i}: #{lighten($base, $i * 5)};
    }
  }
}

@media screen and (max-width: $screen-xs) {
  :root {
    --container-padding: 5vw;
    --logo-extra: 1rem;
  }
}
@media screen and (min-width: $screen-xs) {
  :root {
    --max-width: #{$screen-xs};
    --logo-extra: 0vw;
  }
}
@media screen and (min-width: $screen-sm) {
  :root {
    --max-width: #{$screen-sm};
    --logo-extra: 1vw;
  }
}
@media screen and (min-width: $screen-md) {
  :root {
    --max-width: #{$screen-md};
  }
}
@media screen and (min-width: $screen-lg) {
  :root {
    --max-width: #{$screen-lg};
  }
}
@media screen and (min-width: $screen-xl) {
  :root {
    --max-width: #{$screen-xl};
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: var(--background);
  color: var(--text-colour);
}

a {
  color: var(---color-primary-0);
  transition: all 0.2s ease-in-out;

  &.no-dec {
    text-decoration: none;
  }

  svg {
    fill: var(---color-primary-0);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: var(---color-primary-1);

    svg {
      fill: var(---color-primary-1);
    }
  }
}
