exclude: migrations/.*\.py|Procfile|[aw]sgi\.py|node_modules|.git|\.polar|inputs/.*
repos:
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.22.2
  hooks:
  - id: django-upgrade
    args: [--target-version, '5.0']
- repo: https://github.com/MarcoGorelli/absolufy-imports
  rev: v0.3.1
  hooks:
  - id: absolufy-imports
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: detect-private-key
  - id: file-contents-sorter
    files: requirements.*\.in
  - id: mixed-line-ending
    args: [--fix, lf]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.2
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
- repo: https://github.com/mrtazz/checkmake
  rev: 0.2.2
  hooks:
  - id: checkmake
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v4.0.0-alpha.8
  hooks:
  - id: prettier
    types_or: [css, javascript]
    exclude: .min.
- repo: https://github.com/adamchainz/djade-pre-commit
  rev: 1.3.2
  hooks:
  - id: djade
    args: [--target-version, '5.1']
- repo: https://github.com/rtts/djhtml
  rev: 3.0.7
  hooks:
  - id: djhtml
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.5.0
  hooks:
  - id: pyproject-fmt
