boto3
dj-database-url
django
django-csp
django-htmx
django-storages
django_extensions
gunicorn
honeybadger
opencv-python-headless
psycopg2
python-dateutil
redis
rustface
wagtail
wheel
whitenoise
whitenoise[brotli]
