boto3
dj-database-url
django
django-csp
django-htmx
django-storages
django_extensions
gunicorn
honeybadger
opencv-python-headless
psycopg2
redis
rustface
wagtail
wagtail-picture-tag
wheel
whitenoise
whitenoise[brotli]
willowavif
