django
boto3
dj-database-url
django-csp
django-health-check
django-storages
gunicorn
honeybadger
opencv-python
psycopg2
redis
rustface
wagtail
wagtail-picture-tag
wheel
whitenoise
whitenoise[brotli]
willowavif
