{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block banner_text %}
    <h1>404 - Page not found</h1>
{% endblock banner_text %}

{% block content %}
    <div class="error404">
        <blockquote cite="https://www.terrypratchettbooks.com/books/wyrd-sisters/">
            <p>Granny Weatherwax was not lost. She wasn't the kind of person who ever became lost. It was just that, at the moment, while she knew exactly where SHE was, she didn't know the position of anywhere else.</p>
            <footer>
                Terry Pratchett, <cite>Wyrd Sisters</cite>
            </footer>
        </blockquote>
    </div>
{% endblock content %}
