{% load banner_tags message_tags social_tags static util_tags wagtailcore_tags wagtailimages_tags wagtailuserbar %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <link rel="preconnect" href="https://cdn.stretchtheirlegs.co.uk" />
        <meta name="color-scheme" content="light dark">
        <meta charset="utf-8" />
        {% compress %}
            <title>
                {% block title %}
                    {% wagtail_site as current_site %}
                    {% if page.seo_title %}
                        {{ page.seo_title }}
                    {% else %}
                        {{ page.title }}{% block title_suffix %}{% if current_site and current_site.site_name %} - {{ current_site.site_name }}{% endif %}{% endblock %}
                    {% endif %}
                {% endblock title %}
            </title>
        {% endcompress %}
        <meta name="description" content="{{ page.search_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% social_tags %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock extra_css %}

        {% include "favicon.html" %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% messages %}

        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}

        {% block banner %}
            {% get_banner as banner_image %}
            <div class="banner" id="banner">
                {% picture banner_image format-{avif} fill-{2560x1440,1920x1080,1280x720,800x600,640x480} sizes="100vw" %}
                <div class="banner_text">
                    <div class="container">
                        <div class="banner_text_inner">
                            {% block banner_text %}
                                <h1>{{ page.title }}</h1>
                                {% if page.sub_heading %}
                                    <h2 class="alt">{{ page.sub_heading }}</h2>
                                {% elif page.parent_title %}
                                    <h2 class="alt">{{ page.parent_title }}</h2>
                                {% endif %}
                            {% endblock banner_text %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock banner %}

        {% block content_outter %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock content_outter %}

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock extra_js %}
    </body>
</html>
