{% load navigation_tags %}
<header>
    <div class="container">
        <a href="/" class="logo-link" title="Stretch Their Legs" aria-label="Stretch Their Legs home page">
            {% include "logo.svg" %}
        </a>
        <div class="links">
            <nav>
                {% menu calling_page=self %}
            </nav>
            <div class="social-links">
                <a href="{{ settings.pages.SiteSettings.facebook }}" title="Facebook" aria-label="Facebook" rel="noopener" target="_blank">
                    {% include "icons/facebook.svg" %}
                </a>
            </div>
        </div>
    </div>
</header>
