.article-list {
  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    @include in-size((xxs, xs)) {
      grid-template-columns: 1fr;
    }
    @include in-size((sm, md)) {
      grid-template-columns: 1fr 1fr;
    }

    @supports (contain: layout style inline-size) {
      & > li.promote {
        container-type: inline-size;
        @include in-size((lg)) {
          grid-column: span 3;
          max-width: 100%;
        }
      }
    }

    li {
      @container (min-width: 800px) {
        a {
          display: flex;
          flex-direction: row;
          gap: 1em;

          picture {
            flex-basis: 640px;
            flex-shrink: 0.5;
          }

          > span {
            flex-shrink: 1;
          }
        }
      }

      flex-basis: 320px;
      flex-shrink: 1;
      flex-grow: 1;
      max-width: 640px;

      display: block;
      margin: 0;
      picture {
        display: block;
        @include triangle-top(var(--background));
        @include triangle-bottom(var(--background));
        overflow: hidden;
        box-sizing: content-box;
        margin-bottom: 1rem;
        margin-top: 0.5em;

        aspect-ratio: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: block;
          padding: 0;
          margin: 0;

          &.no-img {
            width: 128px;
            height: 128px;
          }
        }
      }

      span {
        display: block;
      }

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .title {
        text-decoration: underline;
        font-size: 1.2em;
        line-height: 2em;
      }
      .summary {
        color: var(--text-colour);
        flex-grow: 1;
      }
      .readmore {
        text-decoration: underline;
      }
    }
  }
}
