.banner {
  img {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    max-height: calc(100vh - var(--header-heigh));
    object-fit: cover;
    display: block;
  }

  picture {
    display: block;
    @include triangle-top(var(--background));
    @include triangle-bottom(var(--background));
    overflow: hidden;
  }
}
