.banner {
  body.full-height-banner & {
    img {
      height: 100vh;
    }
  }

  img {
    max-width: 100%;
    width: 100vw;
    height: 55vh;
    max-height: calc(100vh - var(--header-heigh));
    min-height: 25rem;
    object-fit: cover;
    display: block;
  }

  picture {
    display: block;
    @include triangle-top(var(--background));
    @include triangle-bottom(var(--background));
    overflow: hidden;
  }

  position: relative;

  .banner_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;

    .container {
      width: 100%;

      .banner_text_inner {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
      }
    }

    h1,
    h2 {
      color: #fff;
      padding: 0;
      line-height: 1.25em;
      margin: 0;
      text-shadow: 0 0 15px #000;
    }
    h2 {
      font-size: 2em;
    }
  }
}
