.breadcrumbs {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    li {
      padding: 0;
      margin: 0;

      & + li {
        padding-left: 0.5em;
        &::before {
          padding-right: 0.5em;
          content: "\00BB";
        }
      }
    }
  }
}
