.container,
.block-Paragraph {
  width: calc(var(--max-width) - 5vw);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;

  .container,
  .block-Paragraph {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}
