footer {
  margin-top: 3rem;
  padding: 2rem 0;
  background: $footer-color;
  min-height: 10rem;

  @include triangle-top(var(--background));

  .title {
    @extend h3;
  }

  .footer-row {
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    @include in-size((xxs, xs)) {
      flex-direction: column;
    }

    .footer-col {
      text-align: center;
      display: flex;
      flex-direction: column;

      /*
      padding: 0 1rem 1rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      */
    }

    a {
      font-size: 1.25rem;
      line-height: 2em;
    }

    .social {
      a {
        display: inline-block;
        height: 2em;
      }
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.5rem;
      padding-top: 0;
      //font-size: clamp(1rem, 2.5vw, 2rem);
    }

    .content {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        //font-size: clamp(1rem, 1.5vw, 2rem);
        white-space: nowrap;
      }
    }

    svg {
      height: 2em;
    }
  }

  .memberships {
    background: var(--background);
    padding: 1rem 0.5rem;
    width: 100%;

    @include triangle-top($footer-color);
    @include triangle-bottom($footer-color);
    overflow: hidden;
  }
}
