@use "sass:math";

header {
  height: var(--header-heigh);
  padding: 1rem 0;
  box-sizing: border-box;

  > div {
    display: flex;
    height: 100%;
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  a {
    display: inline-block;
  }

  .logo-link {
    svg {
      position: relative;
      z-index: 999;
      display: inline-block;
      max-width: 100%;
      width: auto;
      height: calc(var(--logo-extra) + var(--header-heigh));

      @include in-size(xxs) {
        height: calc(100% + var(--logo-extra));
      }

      .foreground {
        &,
        path {
          fill: var(---color-primary-0) !important;
        }
      }
      .background {
        &,
        path {
          fill: var(--background) !important;
        }
      }
    }
  }

  .social-links {
    color: var(---color-primary-0);
    svg {
      height: calc(var(--header-heigh) * 0.35);
      path {
        fill: var(---color-primary-0);
        transition: all 0.2s ease-in-out;
      }
    }

    a {
      &:hover {
        svg {
          path {
            fill: var(---color-primary-1);
          }
        }
      }
    }
  }
}
