@use "sass:math";

header {
  height: var(--header-heigh);
  $padding: 2rem;
  padding: math.div($padding, 2) 0;
  box-sizing: border-box;

  > div {
    display: flex;
    height: 100%;
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  nav {
  }

  a {
    display: inline-block;
  }

  .logo-link {
    svg {
      position: relative;
      z-index: 999;
      display: inline-block;
      max-width: 100%;
      width: auto;
      height: calc(2vw + var(--header-heigh));
      path {
        fill: $color-primary-0;
      }
    }
  }

  .social-links {
    color: $color-primary-0;
    svg {
      height: calc(var(--header-heigh) * 0.35);
    }
  }
}
