@use "sass:math";

header {
    height: $header_hight;
    $padding: 1rem;
    padding: math.div($padding, 2) 0;
    box-sizing: border-box;

    nav {
        display: flex;
        justify-content: space-between;
    }

    a {
        display: inline-block;
    }

    svg {
        display: inline-block;
        max-width: 100%;
        width: auto;
        max-height: $header_hight - $padding;
    }
}
