.memberships {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;

  li {
    list-style: none;

    a {
      display: block;

      picture {
        display: block;

        img {
          display: block;
        }
      }
    }
  }
}
