@use "sass:math";

$z-index: 5555;

nav {
  label {
    @extend a;
  }

  menu {
    li {
      margin-top: 0;
      line-height: 2em;
    }
  }
}

.nav-shroud {
  display: none;
}

@media (max-width: $nav-swap) {
  .nav-shroud {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 100%;
    top: 0;
    z-index: $z-index - 1;
    transition:
      left 0s ease-in-out 0.2s,
      opacity 0.2s ease-in-out;
  }

  input:checked + nav {
    .nav-shroud {
      transition:
        left 0s ease-in-out,
        opacity 0.2s ease-in-out;
      left: 0%;
      opacity: 1;
    }
  }

  .links {
    flex-direction: row-reverse;
    align-items: center;
  }

  $menuPadding: 0.5rem;
  $triangleSize: 0.5em;

  nav {
    .social-links {
      a {
        border: none;
        padding: 0;
        display: flex;
        height: 3rem;
        align-items: center;
        justify-content: center;
      }
    }

    menu {
      padding: 0;
      margin: 0;
    }

    input:checked + & {
      menu.nav-level-1 {
        transform: translateX(0px);
        box-shadow: 0 0 5vw rgb(0 0 0 / 100%);
      }
    }

    @mixin nav-item {
      font-family: $font-headding;
      font-size: 1.25rem;
      line-height: 3rem;
      text-decoration: none;
      display: block;
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .item {
      a,
      label {
        @include nav-item;
        &::before {
          content: "";
          width: $menuPadding + 0.25rem;
          display: inline-block;
        }
      }

      &.active {
        & > div .top-level,
        & > .top-level {
          &::before {
            content: "\00BB";
          }
        }
      }
    }

    menu.nav-level-1 {
      &::before {
        content: "Menu";
        display: block;

        @include nav-item;
        background: var(---color-primary-0);
        color: #fff;
        padding: 0.25rem 1rem;
      }

      box-sizing: border-box;
      padding: 0;
      margin: 0;

      width: $mobile_width;
      height: 100%;
      overflow-y: auto;
      box-shadow: 0 0 5vw rgb(0 0 0 / 0%);
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background: var(--background);
      z-index: $z-index;

      transform: translateX($mobile_width);
      transition: all 0.5s ease;

      li {
        list-style: none;
        padding: 0;
      }

      menu {
        li {
          transition: max-height 0.2s ease-in-out;
          overflow: hidden;
          max-height: 0em;
        }
      }

      input:checked + menu {
        li {
          max-height: 3em;
        }
      }

      li {
        position: relative;
        label {
          &::after {
            content: "";
            top: calc(1.25em - math.div($triangleSize, 2));
            position: absolute;
            right: $triangleSize * 1.5;
            display: block;
            float: right;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $triangleSize $triangleSize 0 $triangleSize;
            border-color: var(---color-primary-0) transparent transparent transparent;
          }
        }
      }
    }

    li {
      line-height: 3rem;
      a,
      label {
        border-bottom: 1px solid $color-primary-1;
        padding: 0 1.5em;
      }

      menu {
        background: var(--background-alt);
        li {
          a,
          label {
            padding-left: 2rem;
          }
        }
      }
    }
  }

  $base: lighten($color-primary-0, 90%);
  @for $i from 1 through 10 {
    .nav-level-#{$i} {
      background: var(--nav-bg-#{$i});
    }
    .level-#{$i} {
      a,
      label {
        padding-left: 0.25rem + ($menuPadding * $i);
      }
    }
  }

  nav {
    .item {
      & > div {
        display: flex;
        .top-level {
          flex-grow: 1;
        }

        label {
          flex-grow: 0;
          border-left: 1px solid $color-primary-1;
          width: $triangleSize * 5;
          padding: 0;
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: $nav-swap) {
  nav {
    position: relative;
    z-index: 999;

    menu {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        line-height: 1em;
        padding: 0;
        margin: 0;

        div > label {
          display: none;
        }

        a,
        label {
          white-space: nowrap;
          &:after {
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }

    & > menu {
      list-style: none;
      display: flex;
      align-items: center;

      @include in-size((xxs, xs)) {
        flex-direction: column;
      }

      justify-content: space-between;

      & > li {
        &.has-submenu {
          & > div a {
            &:after {
              margin-left: 0.25em;
            }
          }
          & > div a,
          label {
            &:hover {
              &:after {
                border-color: var(---color-primary-1) transparent transparent transparent;
              }
            }
            &:after {
              $size: 0.25em;
              transition: all 0.2s ease-in-out;
              content: "";
              display: inline-block;
              position: relative;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: $size $size 0 $size;
              border-color: var(---color-primary-0) transparent transparent transparent;
              top: -(math.div($size, 2));
            }
          }
        }
      }

      menu {
        display: none;
        position: absolute;
        background: var(--background);

        border: 1px solid var(--nav-border);
        border-radius: 4px;
        box-shadow: 0 6px 12px var(--drop-shadow);

        $font-size: 1.1rem;
        $padding: 1rem;

        .has-submenu {
          & > a,
          label {
            position: relative;
            padding-right: 2.5rem;
            &:hover {
              &:after {
                border-color: transparent transparent transparent $color-primary-1;
              }
            }
            &:after {
              position: absolute;
              content: "";
              $size: 0.5rem;
              right: $padding;
              width: 0;
              height: 0;
              top: initial;
              border-style: solid;
              border-width: $size 0 $size $size;
              border-color: transparent transparent transparent $color-primary-0;
            }
          }
        }

        menu {
          margin-top: -($font-size + ($padding * 2));
          margin-left: calc(100% - math.div($padding, 2));
        }

        flex-direction: column;
        li {
          a,
          label {
            font-size: $font-size;
            display: block;
            margin: 0;
            padding: $padding ($padding * 1.25);
          }
        }
      }

      li {
        &:hover {
          & > menu {
            display: block;
            display: flex;
          }
        }
      }
    }

    a,
    label {
      font-family: $font-headding;
      padding: 0.5rem;
      margin: 0 1rem;
      font-size: 1.5rem;
      @include in-size(md) {
        font-size: 1.2rem;
      }
      text-decoration: underline;
      text-decoration-color: var(--background);
      line-height: 1em;
      position: relative;
    }

    a + label {
      display: none;
    }

    .active {
      & > label,
      & > div a,
      & > a {
        text-decoration-color: var(---color-primary-0);
      }
    }
  }
}
