name: Update packages

on: 
  schedule:
    - cron: '0 19 * * *' # Every day at 13:00 UTC
  workflow_dispatch:

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Update packages
        id: update
        run: uv pip compile --quiet --generate-hashes --upgrade -o requirements.txt pyproject.toml
      
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update Dependencies
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: updates-${{ steps.date.outputs.date }}
          delete-branch: true
          title: 'Update dependencies - ${{ steps.date.outputs.date }}'
          body: |
            This PR was created automatically by the `update-packages` workflow.
            It updates the dependencies in the `requirements.txt` file.

            ${{ steps.update.outputs.stdout }}
          labels: |
            updates
            automated pr