{% load wagtailcore_tags %}

<div class="container">
    <div class="form_builder">
        {% if value.title %}
            <h2>{{ value.title }}</h2>
        {% endif %}
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="field-wrapper field-{{ field.field.widget.input_type }} {{ field.id_for_label }}">
                    {{ field.errors }}
                    {% if field.field.widget.input_type == 'checkbox' %}
                        {{ field }}
                        {{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="field-wrapper field-{{ field.field.widget.input_type }} submit-button">
                <input type="submit" value="{{ page.submit_text }}" />
            </div>
        </form>
    </div>
</div>
